<div class="jumbotron">
  <div class="centered">
    <h1><%= link_to "News", landing_news_path %></h1>
  </div>
</div>

<div class="jumbotron">
  <div class="centered">
    <h1><%= link_to "Maps and Charts", landing_mapscharts_path %></h1>
  </div>
</div>
