<div class="jumbotron">
  <div class="centered">
    <h1><%= link_to "French Presidential Election Polls, March 2017", charts_france2017_path %></h1>
  </div>
</div>

<div class="jumbotron">
  <div class="centered">
    <h1><%= link_to "Largest Coal Mines in the World", maps_coalmines_path %></h1>
  </div>
</div>

<div class="jumbotron">
  <div class="centered">
    <h1><%= link_to "Rich and Poor Countries", charts_gdp01_path %></h1>
  </div>
</div>

<div class="jumbotron">
  <div class="centered">
    <h1><%= link_to "Largest Hydroelectric Dams in the World", maps_hydroelectric_path %></h1>
  </div>
</div>
