<div class="centered">
  <%= react_component("News01") %>
</div>

<!-- <div class="centered">
  <ul>
  <% @results.each do |result| %>
    <li>
    <%= result %>
    </li>
  <% end %>
</ul>
</div> -->
