<div class="centered">
  <iframe width="1500" height="600" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col5+from+1UsIRNlULNScwh6M-sj10Lh-XJJLRM8Niuvw9Vo3w&amp;viz=MAP&amp;h=false&amp;lat=28.999594068165088&amp;lng=-118.20193813125002&amp;t=1&amp;z=3&amp;l=col5&amp;y=2&amp;tmplt=2&amp;hml=ONE_COL_LAT_LNG"></iframe>
</div>
