<div class="centered">
<h1>Largest Coal Mines in the World</h1>
<iframe width="1500" height="600" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col7+from+1G33uZQTPwCnGisuxpS96xRrgi4YkFdkl0wz_-BAR&amp;viz=MAP&amp;h=false&amp;lat=39.16694963035431&amp;lng=105.0532485160827&amp;t=1&amp;z=2&amp;l=col7&amp;y=2&amp;tmplt=2&amp;hml=GEOCODABLE"></iframe>
</div>
