<div class="centered">
<h1>Largest Coal Mines in the World</h1>
<iframe width="1500" height="600" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col7+from+10GO0bJHa_ohEJ3nq7SaAzJCvzzP1KtiHJkGoGKfK&amp;viz=MAP&amp;h=false&amp;lat=27.82017269080301&amp;lng=-269.58644140625&amp;t=1&amp;z=2&amp;l=col7&amp;y=2&amp;tmplt=2&amp;hml=GEOCODABLE"></iframe>
</div>
