<div class="centered">
  <iframe width="1500" height="600" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col0+from+1LFtlWjrW-QwhQa_OlKoBSfNCRnjLWUrG5uO1nadF&amp;viz=MAP&amp;h=false&amp;lat=31.44088437321907&amp;lng=-56.42796475&amp;t=1&amp;z=2&amp;l=col0&amp;y=2&amp;tmplt=2&amp;hml=ONE_COL_LAT_LNG"></iframe>
</div>
