<div class="centered">
  <iframe width="1500" height="600" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col1+from+1qwD-netEycYePRhGv_sBKuCWwBnoRx17PT5zhKr1&amp;viz=MAP&amp;h=false&amp;lat=9.868132775949126&amp;lng=-120.57786602109378&amp;t=1&amp;z=1&amp;l=col1&amp;y=2&amp;tmplt=2&amp;hml=ONE_COL_LAT_LNG"></iframe>
</div>
