<div class="col-xs-4">
  <h1>The World's Largest Landowners</h1>
  Queen Elizabeth II of the United Kingdom - 6.6 Billion acres combined, technically all of Great Britain, Northern Ireland, Canada, and Australia<br>
  King Abdullah of Saudi Arabia - All of Saudi Arabia, 830,000 square miles<br>
  Pope Francis - All landholdings of the Catholic Church, 110 acres of Vatican City, 177 million acres of Church lands<br>
  King Mohammed VI of Morocco - All of Morocco, 175.6 million acres<br>
  The King of Thailand - All of Thailand, 128 million acres<br>
  Sultan Qaboos of Oman - All of Oman<br>
  King Gyanendra of Nepal - All of Nepal, 57,000 square miles<br>
  King Abdullah II of Jordan - All of Jordan, 35,637 square miles<br>
  King Jigme Khesar Namgyel Wangchuck of Bhutan - All of Bhutan, 15,000 square miles<br>
  King Letsie of Lesotho - 11,718 square miles<br>
  The Emir of Kuwait - All of Kuwait, 7 million acres<br>
  King Mswati of Swaziland - All of Swaziland, 6,704 square miles<br>
  James, Arthur, and John Irving, Canadian Citizens - 3.6 million acres in Maine, New Bruswick and Nova Scotia. Hers to the JD Irving Group fortune.<br>
  Sheik Hamad bin Khalifa of Qatar - All of Qatar, 4,425 square miles<br>
  Ted Turner, US Citizen - 2 million total, large holdings in Georgia and Montana, 11,000 acres in Patagonia, Argentina
</div>
<div class="col-xs-8">
  <div class="centered">
    <h1>Their Countries of Citizenship</h1>
    <iframe width="800" height="500" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col3+from+17STbxT_zFXJzXsCQF2EHEgcf5xChhSIEdHul0Wng&amp;viz=MAP&amp;h=false&amp;lat=21.825176233952302&amp;lng=91.33596999999972&amp;t=1&amp;z=1&amp;l=col3&amp;y=2&amp;tmplt=2&amp;hml=ONE_COL_LAT_LNG"></iframe>
  </div>
</div>
<div class="centered">
  Sources:<br>
  http://www.businessinsider.com/worlds-biggest-landowners-2011-3
  http://www.newstatesman.com/blogs/the-staggers/2011/03/queen-state-territories
</div>
