<div class="centered">
  <iframe width=700 height=600 src="https://docs.google.com/spreadsheets/d/1QkeFf_-WbE1HfL9GLgPUmZT494dvUe3PCFd4HPa1CDQ/pubchart?oid=1860778452&amp;format=interactive"></iframe>
</div>
