<div class="centered">
  <iframe width=600 height=600 src="https://docs.google.com/spreadsheets/d/1JOtPJcH0niFylBpiHboNxl311nKa-2BI7FRssblnB3Y/pubchart?oid=1230392483&amp;format=interactive"></iframe>
</div>
